.mainNavBar {
    background-color: rgb(64, 64, 64);
    max-height: 3em;
}

.navbarToggler {
    background-color: #ff652f;
}

.navbarDropdownText {
    color: white !important;
    background-color: rgba(137, 22, 20, 0.89);
    border-bottom: 1px solid white;
}

.navbarDropdownText:hover {
    color: white !important;
    background-color: gray;
}

.navbarText {
    color: white !important;
}

.navbarBrand {
    color: white !important;
    font-size: large;
    font-style: italic;
}

.navbarButtons {
    background-color: #871614;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer !important;
    min-width: 115px;
    text-align: center;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.navbarButtons:hover {
    background-color: gray;
    transition: 0.2s;
    transform: scale(1.1);
    cursor: pointer !important;
}

.navbarDropdownSelector {
    background-color: #871614;
    margin-left: 10px;
    margin-right: 10px;
}

.navbarDropdownSelector:hover {
    background-color: gray;
}


.navbarDropdownMenu {
    background-color: #871614;
    overflow-y: scroll;
    max-height: 30vh;
    max-width: inherit;
    width: inherit;
}

@media (max-width: 1234px) {
    .navbarButtons {
        max-width: 15rem;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: -0;
        border-radius: 2%;
    }

    .navbarDropdownSelector {
        max-width: 15rem;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: -0;
        border-radius: 2%;
        padding-bottom: 0.5rem;
    }

    .navbarDropdownMenu {
        background: #db271e;
    }

    .navbarDropdownText {
        background: rgba(219, 39, 30, 0.7);
        text-align: center;
    }

}