.mainNavBar {
    background-color: rgb(64, 64, 64);
    max-height: 3em;
}

.navbarToggler {
    background-color: #ff652f;
}

.navbarDropdownText {
    color: #ff652f !important;
}

.navbarText {
    color: #ff652f !important;
}

.navbarBrand {
    color: white !important;
    font-size: large;
    font-style: italic;
}

.navlink {
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.navlink:hover {
    background-color: grey;
}

.navbarDropdownMenu {
    background-color: black;
    overflow-y: scroll;
    max-height: 50vh;
}