.mainNavBar {
    background-color: rgb(64, 64, 64);
    max-height: 3em;
}

.navbarToggler {
    background-color: #ff652f;
    padding: 0 0.25rem 0 0.25rem;
}

.navbarDropdownText {
    color: white !important;
    background-color: rgba(137, 22, 20, 0.89);
    border-bottom: 1px solid white;
}

.navbarDropdownText:hover {
    color: white !important;
    background-color: gray;
}

.navbarText {
    color: white !important;
}

.navbarBrand {
    color: white !important;
    font-size: large;
    font-style: italic;
}

.navbarDropdownMenu {
    background-color: #871614;
    overflow-y: scroll;
    max-height: 30vh;
    max-width: inherit;
    width: inherit;
}

@media screen and (min-width: 1235px) {
    .navbarButtons {
        background-color: #871614;
        margin-left: 0.75vw;
        margin-right: 0.75vw;
        cursor: pointer !important;
        min-width: 8vw;
        text-align: center;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .navbarButtons:hover {
        background-color: gray;
        transition: 0.2s;
        transform: scale(1.1);
        cursor: pointer !important;
    }

    .navbarDropdownSelector {
        background-color: #871614;
        margin-left: 0.75vw;
        margin-right: 0.75vw;
    }

    .navbarDropdownSelector:hover {
        background-color: gray;
    }
}

@media (max-width: 1234.98px) {
    .navbarButtons {
        max-width: 20vw;
        min-width: 220px;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: -0;
        background-color: #871614;
        text-align: center;
    }

    .navbarButtons:hover {
        background-color: gray;
        transition: 0.2s;
        transform: scale(1.1);
        cursor: pointer !important;
    }

    .navbarDropdownSelector {
        min-width: 220px;
        max-width: 20vw;
        margin-left: -0;
        background-color: #871614;
        text-align: center;
    }

    .navbarDropdownSelector:hover {
        background-color: grey;
    }

    .navbarDropdownMenu {
        background: #951b18;
        min-width: 100%;
        overflow-x: hidden;
        margin-top: -5px;
    }

    .navbarDropdownText {
        background: #951b18;
        text-align: center;
    }

    .navbarDropdownText:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }

}